body {
    color: #333;
  }
  
  #wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  #wheel {
    grid-column: 1 / 3;
    grid-row: 1;
    display: relative;
  }
  
  .option {
    transform-origin: left center;
    position: absolute;
    top: 200px;
    left: 300px;
    width: 100px;
    height: 100px;
  }
  
  .next {
    grid-column: 2 / 3;
    
  }